<section>
    <% result.forEach((post, index) => { %>
        <article>
            <div class="card">
                <div class="card__user">
                    <img src="<%= post.imgUser || './img/userDefaut.png' %>">
                    <span><%= post.nameUser || 'Anonim' %></span>
                </div>

                <img src="<%= post.imgPost %>" alt="<%= post.imgPost %>" class="photo card__img" loading="lazy">
                <div class="card__footer">
                    <img src="./img/nolike.svg" data-idLike="<%= post.idPost %>" class="like-btn">
                </div>
            </div>
        </article>
        <% if (index === result.length - 2) { %>
            <div class="loadMore" id="loadMoreBtn" onclick="loadMorePhotos()">
            </div>
        <% } %>
    <% }); %>
</section>
<script>
    let likeButtons = document.querySelectorAll('.like-btn');
</script>
